/* ==================== BANNER  ==================== */
.banner {
  width: 100%;
  max-width: 600px;
  margin: -5px auto 10px auto;
  padding: 0;
  box-sizing: border-box;
  border-radius: 25px;
  box-shadow: 0 10px 20px rgba(109, 109, 109, 0.15);
  position: relative;
  overflow: hidden;
  background: #fff;}

.banner-slider {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;}

.banner-slider::-webkit-scrollbar {
  display: none;}

.banner-slide {
  flex: 0 0 100%;
  width: 100%;
  height: auto;
  aspect-ratio: 780 / 388;
  display: block;
  scroll-snap-align: center;
  object-fit: cover;}

.banner-pagination {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 5px;
  z-index: 10;
  background: rgba(85, 85, 85, 0.1);
  padding: 4px 10px;
  border-radius: 20px;}

.dot {
  width: 5px;
  height: 5px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  transition: all 0.3s;}

.dot.active {
  background: #fff;
  width: 15px;
  border-radius: 10px;
  background-color: #3ACE00;}

/* ==================== STATUS BAR ==================== */
.status-bar {
  display: flex;
  align-items: center;
  background: #ffffff;
  border-radius: 16px;
  padding: 12px 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0 10px 20px rgba(187, 187, 187, 0.15);
  width: 100%;
  box-sizing: border-box;}

.status-icon-bg {
  width: 40px;
  height: 40px;
  background: #8ef168;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
  flex-shrink: 0;}

.status-icon-bg svg {
  width: 20px;
  height: 20px;
  stroke: #fff;}

.status-info {
  flex-grow: 1;}

.status-info h3 {
  font-size: 14px;
  font-weight: 700;
  color: #58d206;
  margin: 0 0 2px 0;}

.status-info p {
  font-size: 11px;
  color: #99b68d;
  font-weight: 500;
  margin: 0;}

.status-action {
  display: flex;
  align-items: center;
  gap: 2px;
  opacity: 0.6;}

.status-action span {
  font-size: 10px;
  color: #64748b;}

.status-action svg {
  width: 14px;
  height: 14px;
  stroke: #64748b;}

/* ==================== SUMMARY CARD ==================== */
.summary-card {
  background: #ffffff;
  border-radius: 24px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 10px 20px rgba(187, 187, 187, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;}

.summary-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;}

.summary-title {
  display: flex;
  flex-direction: column;
  line-height: 1;}

.summary-title h3 {
  font-size: 18px;
  font-weight: 600;
  color: #8f8f8f;
  margin: 0;}

.summary-title span {
  font-size: 14px;
  color: #a0a0a0;
  font-weight: 400;}

.summary-icon svg {
  width: 28px;
  height: 28px;
  stroke: #999;
  stroke-width: 2;}

.summary-stats-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 15px;}

.summary-item {
  flex: 1;
  border: 1.5px solid #e0e0e0;
  border-radius: 16px;
  padding: 15px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;}

.summary-item .label {
  font-size: 12px;
  color: #888;
  margin-bottom: 5px;
  text-transform: lowercase}

.summary-item .value {
  font-size: 28px;
  font-weight: 600;
  color: #838383;
  line-height: 1;}

.summary-item.green-1 {
  background-color: #f4fdf6;
  border-color: #ffffff;}

.summary-item.green-1 .value {
  color: #88c057;}

.summary-item.green-2 {
  background-color: #ecfce8;
  border-color: #ffffff;}

.summary-item.green-2 .value {
  color: #6bb92d;}

.summary-item.green-3 {
  background-color: #e3fadd;
  border-color: #ffffff;}

.summary-item.green-3 .value {
  color: #3ACE00;}

.summary-item .label {
  color: #777;
  font-weight: 500;}
